NoAnnoy/src/NoAnnoy/app/build
NoAnnoy/src/NoAnnoy/.gradle

PureMusic/app/build
PureMusic/.gradle

whatsai/app/build
whatsai/.gradle

PureTorch/app/build
PureTorch/.gradle

MultiDialer/src/Dialer/app/build
MultiDialer/src/Dialer/.gradle

CalllogReader/app/build
CalllogReader/.gradle

SoundRecorder-master/app/build
SoundRecorder-master/.gradle

TestForFloatingWindow-master/app/build
TestForFloatingWindow-master/.gradle

MyCameras/src/AutoCamera/app/build
NumReader/app/build

audioWaveCanvas-master/
AudioWaveShow-master
MediaProjectionDemo-master
DialogLoadding-master
UseOkhttp3-master
AndroidUSBCamera-master
