<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liz.puremusic">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_music"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.liz.puremusic.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PlayListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.SettingsActivity" android:screenOrientation="portrait"/>

        <service
            android:name="com.liz.puremusic.logic.DataLogic"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.liz.puremusic.app.MusicService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.liz.puremusic.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name="com.liz.puremusic.app.MediaButtonReceiver">
            <intent-filter >
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".app.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.liz.puremusic.notify"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
